# Monkey patch oh-my-zsh alias
alias gl='ggpull'
alias gp='ggpush'

# HDD Home proj directory
alias cd_proj='cd "/media/yanagi/Home/Ubuntu Files/proj"'

# For tmux resume
alias resume_tmux='tmux a -d || tmux'

# For Redshift comfort view
alias rs29='redshift -t 2900:2900'
alias rskill='killall redshift'

# Custom rails command
alias rails-kill='kill -9 $(lsof -ti tcp:3000)'

# temp files delete for rails proj
alias deltmp='sudo rm -rf tmp && rm -rf log && rm latest.dump  && rm .byebug_history && rm .directory'
# move latest dump then provide destination  
alias mv_ldb='mv latest.dump '

# git commands
alias gadd='git add .'
alias gcom='git commit -am'

# Heroku commands
alias hrun='heroku run '
alias hlogs='heroku logs --tail'
alias hrailsc='heroku run rails c'
alias hdb_cap='heroku pg:backups:capture'
alias hdb_dl='heroku pg:backups:download'
alias hm_on='heroku maintenance:on'
alias hm_off='heroku maintenance:off'

# Postgres commands
alias run_psql='sudo -i -u postgres psql'
alias pg_res='pg_restore -h localhost -U rails -d'
alias ajb_dump_mv='mv "/media/yanagi/Home/Ubuntu Files/proj/ajb/latest.dump" "/media/yanagi/Home/Ubuntu Files/proj/test"'

