# Monkey patch oh-my-zsh alias
alias gl='ggpull'
alias gp='ggpush'

# For Redshift comfort view
alias rs29='redshift -t 2900:2900'

# Custom rails command
alias rails-kill='kill -9 $(lsof -ti tcp:3000)'

# git commands
alias gadd='git add .'
alias gcom='git commit -am'

# Heroku commands
alias hrun='heroku run '
alias hlogs='heroku logs --tail'
alias hrailsc='heroku run rails c'
alias hdb_cap='heroku pg:backups:capture'
alias hdb_dl='heroku pg:backups:download'
